<!-- Confirmation Dialog-->
<div id="confirmation_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmation_dialog_title">Modal title</h4>
      </div>
      <div class="modal-body">
      	
        <p><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <span id="confirmation_dialog_message"></span></p>
      </div>
      <div class="modal-footer">
        <button id="confirmation_dialog_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="confirmation_dialog_accept" type="button" class="btn btn-primary">Accept</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Iframe Dialog-->
<div id="iframe_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="iframe_dialog_title">Modal title</h4>
      </div>
      <div class="modal-body">
      	<iframe id="iframe_dialog_iframe" src="">	</iframe>
        
      </div>
      <div class="modal-footer">
        <button id="iframe_dialog_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="iframe_dialog_accept" type="button" class="btn btn-primary">New Window</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Iframe Dialog-->
<div id="report_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-xxl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="report_dialog_title">Modal title</h4>
      </div>
      <div class="modal-body">
        <iframe id="report_dialog_iframe" src=""> </iframe>
        
      </div>
      <div class="modal-footer">
        <button id="report_dialog_cancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="report_dialog_accept" type="button" class="btn btn-primary"></button>
        <button id="report_dialog_new_window" type="button" class="btn btn-link">Open in new window</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Issue Dialog-->
<div id="issue_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="issue_dialog_title">Modal title</h4>
      </div>
      <div id="issue_dialog_body" class="modal-body">
      	
        
      </div>
      <div class="modal-footer">
        <button id="issue_dialog_cancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Parameter Confirmation Dialog-->
<div id="parameter_confirmation_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="parameter_confirmation_dialog_title">Modal title</h4>
      </div>
      <div class="modal-body">
      	
        <p><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <span id="parameter_confirmation_dialog_message"></span></p>
      </div>
      <div class="modal-footer">
        <button id="parameter_confirmation_dialog_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="parameter_confirmation_dialog_accept" type="button" class="btn btn-primary">Accept</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Information Dialog-->
<div id="information_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="information_dialog_title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>
        	<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        	 <span id="information_dialog_message"></span>
        </p>
      </div>
      <div class="modal-footer">
        <button id="information_dialog_accept" type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Image Dialog-->
<div id="image_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="image_dialog_title">Modal title</h4>
      </div>
      <div id="image_dialog_body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="image_dialog_accept" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Form Dialog-->
<div id="form_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="form_dialog_title">Modal title</h4>
      </div>
      <div  class="modal-body row">
      	<div  id="form_dialog_body" class="col-md-offset-1 col-md-10">
      	</div>	
      </div>	
      <div class="modal-footer">
        <button id="form_dialog_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="form_dialog_accept" type="button" class="btn btn-primary">Accept</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Change status Dialog-->
<div id="dialog_change_status" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dialog_change_status_title">Modal title</h4>
      </div>
      <div class="modal-body">     	
        <p><span id="dialog_change_status_message"></span></p>
		<span>Status:</span>
		<select id='dialog_change_status_select' style='width:150px;'>
			<option value='active'>Active</option>
			<option value='disabled'>Disabled</option>
		</select>
      </div>
      <div class="modal-footer">
        <button id="dialog_change_status_cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="dialog_change_status_accept" type="button" class="btn btn-primary">Accept</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Error Dialog-->
<div id="error_dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="error_dialog_title">Error</h4>
      </div>
       <div class="modal-body" role="alert">
        <p>
        	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="float: left;margin: 10px 10px 0 0;"></span>
        	<span id="error_dialog_message"></span>
        </p>
      </div>
      <div class="modal-footer">
        <button id="error_dialog_accept" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- loading Dialog-->
<div class="modal fade" id="loading_dialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm full_height" role="dialog">
    <div class="modal-content full_height">
      <div class="modal-body full_height">        
    <div id="circle_loader"></div>
    <label id="loading_dialog_msg"></label>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
	$(document).ready(function(){
		
	});
</script>