<div class="row">
	<div class="col-md-4 shadow-pannel no-padding  white-bg">
		<%= image_tag('avatar', class: "img-responsive full-image")%>
		<div class="avatar_name">Photogapher Name</div>
		<br/><br/>
		<div class="row recover-padding">
			<div class="col-md-12 ">
				<span class="glyphicon glyphicon-briefcase green-icon"> 
					<label>Designer</label>
				</span>
				<br/><br/>
				<span class="glyphicon glyphicon-home green-icon"> 
					<label>Costa Rica</label>
				</span>
				<br/><br/>
				<span class="glyphicon glyphicon-envelope green-icon"> 
					<label> email@email.com</label>
				</span>
				<br/><br/>
				<span class="glyphicon glyphicon-phone green-icon"> 
					<label> 555-55555 ext 555</label>
				</span>
				<br/>
				<hr/>
		
				<h2 class="glyphicon glyphicon-check green-icon">
					<label>Skills</label>
				</h2>
				<ul class="list-group">
					<li class="list-group-item"> Photoshop</li>
					<li class="list-group-item"> Ilustrator</li>
					<li class="list-group-item"> Photography</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-8 ">
		<div class="col-md-12 shadow-pannel  white-bg ">
			<h1 class="glyphicon glyphicon-briefcase green-icon"> 
				<label>Experience</label>
			</h1>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2>Freelancer photographer</h2>
					<span class="glyphicon glyphicon-calendar green-icon">
						<label>Jan 2016  - <label>
						<button type="button" class="btn btn-square">Current</button>

					</span>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo in velit vel faucibus. Sed ac mi vitae nibh efficitur molestie. Curabitur vehicula nulla quis justo porttitor, a egestas purus ullamcorper. Nulla faucibus sem eros, eu vestibulum arcu sollicitudin vitae
					</p>
					<hr/>
				</div>

				<div class="col-md-10 col-md-offset-1 ">
					<h2>Freelancer photographer</h2>
					<span class="glyphicon glyphicon-calendar green-icon">
						<label>Jan 2015  - Dec 2015<label>
					</span>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo in velit vel faucibus. Sed ac mi vitae nibh efficitur molestie. Curabitur vehicula nulla quis justo porttitor, a egestas purus ullamcorper. Nulla faucibus sem eros, eu vestibulum arcu sollicitudin vitae
					</p>
					<hr/>
				</div>

			</div>

		</div>
		<div class="col-md-12  shadow-pannel  white-bg">
			<h1 class="glyphicon glyphicon-info-sign green-icon">
				<label>Aboutme</label>
			</h1>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo in velit vel faucibus. Sed ac mi vitae nibh efficitur molestie. Curabitur vehicula nulla quis justo porttitor, a egestas purus ullamcorper. Nulla faucibus sem eros, eu vestibulum arcu sollicitudin vitae. In vitae nibh ac mi dignissim eleifend vel in risus. Ut mattis nibh vitae tincidunt malesuada. Quisque facilisis, arcu et bibendum elementum, turpis lorem tincidunt sem, id congue massa nibh ac urna. Proin vel ipsum sodales, ultricies dui a, laoreet elit. Nam sem enim, luctus sit amet laoreet nec, dignissim eget augue. Nam at sagittis ipsum, ac dapibus eros. Praesent semper sit amet metus et finibus. Etiam quis facilisis magna. Pellentesque dignissim eu sem ut posuere. Quisque rhoncus, metus id dignissim ornare, odio turpis ultrices tellus, at sodales orci quam mattis ipsum. 
					</div>
				</div>
			
		</div>
	</div>
</div>