<div class="row">
	<div class="col-md-4 shadow-pannel">
		<h1>Profile</h1>
		<%= image_tag('avatar', class: "img-responsive")%>
		<div class="avatar_name">Photogapher Name</div>
		<br/><br/>
		<span class="glyphicon glyphicon-briefcase green-icon"> 
			<label>Designer</label>
		</span>
		<br/><br/>
		<span class="glyphicon glyphicon-home green-icon"> 
			<label>Costa Rica</label>
		</span>
		<br/><br/>
		<span class="glyphicon glyphicon-envelope green-icon"> 
			<label> email@email.com</label>
		</span>
		<br/><br/>
		<span class="glyphicon glyphicon-phone green-icon"> 
			<label> 555-55555 ext 555</label>
		</span>
		<br/><br/>
	</div>
	<div class="col-md-8">
		<div class="col-md-12 shadow-pannel">
			<h1 class="glyphicon glyphicon-briefcase green-icon"> 
			<label>Experience</label>
			</h1>
		</div>
		<div class="col-md-12  shadow-pannel">
			<h1 class="glyphicon glyphicon-info-sign green-icon">
				<label>Aboutme</label>
			</h1>
		</div>
	</div>
</div>